#name {
    font-family: "Dancing script", cursive;
    font-size: 3rem;
    color:#18261e;
}

body {
    background-color: #fdf5df;
    color: #932092;
    font-size: 17px;
    margin-right: auto;
    text-align: center;
  }
  h2 {
    font-weight: bold;
    font-size: 3em;
    color:#f92c85;
    font-family:cursive;
}

 #linksection {
    font-size: 2rem;
    font-style: italic;
 }

 .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;

 }

 .flex-item {
    background: #93508f;
    color: #fdefd3;
    word-wrap:break-word;
    white-space: normal;
 }

 #connect2 a {
    color: #008080;
}

#connect2 a:hover {
    color: #004d4d; /* Change the color of the links on hover */
}

/* I am making it desktop friendly first */
 /* Media query for desktop screens */
@media only screen and (min-width: 768px) {
    body {
        font-size: 16px; 
        text-align: left;
        margin: 0 auto; 
        background-color: aliceblue;
    }

    #linksection {
        font-size: 1.5rem;
        text-align: center;
    }

    .flex-container {
        flex-direction: row; 
    }

    .flex-item {
        width: 30%; 
        margin: 0 10px; 
    }
    #name {
        font-size: 2rem; 
        text-align: center;
    }
    h2 {
        font-size: 2em; 
        color: rgb(215, 51, 51);
        text-align: center;
    }
    #connect2 {
        text-align: center;
    }
}
